*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    
}

body span{
    margin: 3px;
    position: absolute;
    z-index: 3;
    transform: scale(1.3);
    transition: 0.5s ease-in-out;
}

#configs{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 20px;
    width: 140px;
    height: 100vh;
    font-size: 32px;
    background-color: #f0f0f0;
    padding: 45px 0px 0px 6px;
    border-right: 1px solid black;
    transition: 0.5s ease-in-out;
    transform: translateX(-140px);
    z-index: 2;
}

#options{
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(15, 15, 15, 0.26);
}

#configs a{
    
    text-decoration: none;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    transition: 0.5s ease-in-out;
    background-color: #ececec;
}

#tot-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px;
    height: auto;
    width: 90%;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #fff;
}

#criar-projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px 0px;
    width: 80%;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #c5c4c4;
}
/*  */
#form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#form p{
    text-align: left;
    font-size: 24px;
    margin: 10px 10px;
}

#form input{
    align-self: center;
    width: 90%;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 20px;
    padding: 4px;
}

#idescricao{
    align-self: center;
    width: 90%;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 20px;
    padding: 4px;
    height: auto;
}
/*  */
#btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 40px;
    width: 90%;
    
}

#btns button{
    width: 120px;
    height: 30px;
    font-size: 26px;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
}

#descartar{
    background-color: #ffcdcd;
}

#requisitar{
    background-color: #d9fdd4;
}

#succs{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 40px;
    height: 250px;
    width: 250px;
    background-color: black;
    z-index: 3;
    color: white;
    border-radius: 10px;
    padding: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#errs{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 40px;
    height: 250px;
    width: 250px;
    background-color: black;
    z-index: 3;
    color: white;
    border-radius: 10px;
    padding: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width : 768px) {
    #voltar{
        display: none;
    }

    body{
        display: flex;
    }

    #configs{
        width: 160px;
        position: relative;
    }
    
    #tot-card{
        height: 480px;
        max-width: 550px;
    }

    #criar-projetos{
        width: 85%;
        height: 370px;
    }

    #form{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #form p{
        text-align: left;
        font-size: 28px;
        margin: 10px 10px;
    }

    #form input{
        align-self: center;
        width: 90%;
        border: 1px solid black;
        border-radius: 8px;
        font-size: 20px;
        padding: 4px;
    }

    #idescricao{
        align-self: center;
        width: 90%;
        border: 1px solid black;
        border-radius: 8px;
        font-size: 20px;
        padding: 4px;
        height: auto;
    }
    
    #btns button{
        margin-top: 20px;
        width: 180px;
        height: 40px;
        font-size: 36px;
    }
}