@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
   background-color: #e6e6e6;
}

main{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    background-color: #b7bbfc;
    padding-bottom: 60px;
    border: 1px solid black;
    border-bottom: 0px;
    border-top: 0px;
}

#texto{
    width: 90%;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-size: 28px;
}

#texto h1{
    color: rgb(255, 208, 0);
    text-shadow: 0px 1px 1px black;
    font-family: "Poppins", serif;
}

#texto p{
    font-weight: bold;
    color: rgb(0, 24, 236);
    margin: 20px 5px;
    text-align: center;
    font-family: "Arima", serif;
    
}

#texto img{
    margin: 30px 0px 50px 0px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.158);
    width: 200px;
}

#link{
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 30px auto;
    width: 250px;
    height: 40px;
    font-size: 30px;
    background-color: #0008ffc9;
    text-decoration: none;
    padding-top: 3px;
    border-radius: 20px;
    color: rgb(255, 208, 0);
    box-shadow: 0px 0px 10px rgb(255, 196, 0);
    transition: 0.5s ease-in-out;
    text-shadow: 0px 1px 1px black;
    font-weight: bold;
    cursor: pointer;
}

#link:hover{
    box-shadow: 0px 0px 4px rgb(255, 196, 0);
    transform: scale(1.05);
}

#add{
    margin: 0 auto;
    margin-top: 60px;
    padding: 20px 5px;
    width: 90%;
    background-color: #787cfa;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.541);
}

#add p{
    margin: 0 auto;
    width: 90%;
    font-size: 22px;
    text-align: center;
    font-family: "Poppins", serif;
}

footer{
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
    background-color: #0008ffc9;
    gap: 15px;
    border-top: 1px solid black;
}

#redesS{
    display: flex;
    gap: 30px;
    margin: 0 auto;
}

footer p{
    margin: 0 auto;
    color: rgb(255, 208, 0);
    text-shadow: 0px 1px 1px black;
    text-decoration: none;
    font-weight: bold;
}

footer a img{
    border-radius: 50%;
    width: 40px;
    border: 1px solid rgba(0, 0, 0, 0.411);
}

@media screen and (min-width: 768px) {
    #link{
        font-size: 44px;
        width: 300px;
        height: 60px;
        border-radius: 50px;
    }
    
    #texto img{
        width: 300px;
    }

    #add{
        max-width: 1000px;
    }

    #add p{
        width: 700px;
    }

    footer{
        flex-direction: row;
        justify-content: end;
        padding: 4px 4px 0px 4px;
        gap: 20px;
    }

    footer p{
        margin: 0;
        padding-top: 10px;
    }

    #redesS{
        display: flex;
        gap: 30px;
        margin: 0;
    }
    
}