*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    
}

body span{
    margin: 3px;
    position: fixed;
    z-index: 6;
    margin-top: 10px;
    transform: scale(1.5);
    transition: 0.5s ease-in-out;
}

#configs{
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 20px;
    width: 160px;
    height: 100vh;
    font-size: 32px;
    background-color: #f0f0f0;
    padding: 45px 0px 0px 6px;
    border-right: 1px solid black;
    transition: 0.5s ease-in-out;
    transform: translateX(-140px);
    z-index: 5;
}

#options{
    display: none;
    width: 100%;
    height: 100dvh;
    position: fixed;
    background-color: rgba(15, 15, 15, 0.26);
    z-index: 4;
}

#configs a{
    color: rgb(0, 0, 97);
    text-decoration: none;
    font-family: "Roboto", serif;
}

#principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100dvh;
    position: fixed;
    background-color: #dbdbdb;
}

#projetos-rolagem{
    overflow-y: scroll;
}

#alerta{
    position: absolute;
    font-size: 30px;
    color: rgb(56, 56, 56);
    
}

#projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    height: auto;
    padding: 10px;
}

#projetos span{
    position: relative;
}

.projeto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 450px;
    min-height: auto;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #fff;
}

#rolagem{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#rolagem button{
    width: 20px;
    height: 25px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #f3f3f3;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.subDiv{
    width: 90%;
    height: 280px;
    margin-top: 10px;
}

.divBtns{
    width: 90%;
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;
    padding-bottom: 6px;
}

.divBtns span{
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.divBtns span:hover{
    transform: scale(1.5);
}

.titulo{
    font-size: 26px;
    font-weight: bold;
    margin: 6px;
}

.conteudo{
    width: 90%;
    height: 65%;
    margin: 6px;
    padding-top: 4px;
    font-size: 20px;
    overflow: hidden;
    overflow-y: auto;
    justify-self: center;
}

.conteudo::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

.conteudo::-webkit-scrollbar {
    width: 2px;
    background: #F4F4F4;
}

.conteudo::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

#confirmDelBG{
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.247);
    z-index: 6;
}

#confirmDel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    width: 260px;
    height: 220px;
    border: 1px solid black;
    border-radius: 12px;
    padding: 8px;
}

#confirmDel h1{
    font-size: 24px;
    margin-bottom: 10px;
}

#confirmDel button{
    width: 85%;
    font-size: 22px;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}

#atualizarDadoBG{
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.247);
    z-index: 6;
}

#atualizarDado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    width: 270px;
    height: 420px;
    border: 1px solid black;
    border-radius: 12px;
    padding: 8px;
    font-size: 22px;
}

#atualizarDado input{
    font-size: 18px;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 6px;
    padding: 2px 4px;
}

#atualizarDado textarea{
    width: 85%;
    border: 1px solid black;
    border-radius: 8px 0px 0px 8px;
    font-size: 24px;
    resize: none;
}

#atualizarDado button{
    width: 160px;
    font-size: 24px;
    margin: 14px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

#atualizarDado div{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#atualizarDado textarea::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

#atualizarDado textarea::-webkit-scrollbar {
    width: 2px;
    background: #F4F4F4;
}

#atualizarDado textarea::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

#loadingBG{
    background-color: rgba(0, 0, 0, 0.219);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 7;
}

#loading{
    opacity: 1;
    border-radius: 50%;
}

@media screen and (min-width : 768px) {
    body{
        display: flex;
    }

    #configs{
        width: 160px;
        min-height: 800px;
        position: relative;
    }

    #principal{
        min-height: 800px;
    }
    
    #voltar{
        display: none;
    }

    #options{
        position: relative;
    }

    .projeto{
        width: 40%;
        min-width: 298px;
        max-width: 450px;
    }

    #projetos{
        gap: 15px;
        height: 90%;
    }
    
    #rolagem{
        margin-top: 8px;
    }

    #atualizarDado{
        width: 500px;
    }

    #atualizarDado label, p{
        font-size: 30px;
    }

    #atualizarDado button{
        font-size: 28px;
        width: 160px;
        margin: 12px;
    }
    
    #atualizarDado input{
        font-size: 24px;
        padding-right: 0px;
        border-radius: 12px;
    }
    
    #atualizarDado textarea{
        width: 90%;
        max-width: 350px;
    }

    #atualizarDado div{
        margin-top: 0px;
    }

    #projetos-rolagem{
        overflow-y: hidden;
    }

}
