@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --azulEscuro:#212CDE;
    --roxo:#9223DE;
    --roxoClaro:#9E88D9;
    --roxoSuperclaro:#E4E4FF;
    --font1:"Bitter", serif;
    --font2: "Open Sans", sans-serif;
}

html,body{
    width: 100dvw;
    scrollbar-width: none;
    height: 100dvh;
    font-family: var(--font2);
    background-color: black;
}

header{
    background-image: linear-gradient(90deg, rgba(0, 0, 255, 0.308), rgb(138, 138, 250));
    height: 100px;
}

header > a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-left: 5px;
}

header > a:hover{
    background-color: var(--roxoSuperclaro);
    border-radius: 25px;
    color: black;
    box-shadow: 0px 1px 15px rgba(8, 12, 66, 0.89);
    transition: 0.3s ease-in-out;
}

nav{
   /*background-color: var(--azulEscuro);*/
    background-image: linear-gradient(90deg, rgba(0, 0, 255, 0.308), rgb(138, 138, 250));
    position: relative;
    box-shadow: 0px 4px 5px rgba(12, 5, 112, 0.459);
    padding-bottom: 5px;
}

nav > a{
    color: white;
    text-decoration: none;
    font-size: 19px;
    margin: 0px 20px 0px 5px;
}

nav > a:hover{
    background-color: var(--roxo);
    border-radius: 25px;
    box-shadow: 0px 1px 15px rgba(8, 12, 66, 0.89);
    transition: 0.2s ease-in-out;
}

main{
    padding-bottom: 20px;
    margin: auto;
    max-width: 1200px;
    background-color: white;
}

#caixa1{
    display: flex;
    background-image: linear-gradient(135deg, rgba(89, 0, 255, 0.836), rgb(194, 180, 247));
    gap: 80px;
    padding: 10px 10px 30px 10px;
    box-shadow: 0px 2px 2px rgba(11, 12, 88, 0.534);
}

#img{
    width: 50%;
}

#img > img{
    box-shadow: 0px 1px 10px rgb(12, 68, 85);
    border-radius: 60px;
    width: 100%;
}

#pagamento{
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: white;
    border-radius: 40px;
    border: 1px solid rgba(0, 0, 0, 0.397);
    box-shadow: 0px 1px 10px rgb(24, 120, 150);
}

#preco{
    padding: 10px;
    margin: 0px 20px;
    height: 40%;
    font-size: 25px;
}

#tamanho{
    height: 10%;
    position: relative;
    margin: 30px 30px;
    font-size: 20px;
}

#opcoes{
    border: none;
    
}

input{
    margin-right: 5px;
}

#modopgmt{
    height: 20%;
    font-size: 20px;
    margin: 0px 30px;
}

#pagar{
    height: 35%;
    font-size: 35px;
    margin: 30px;
    align-self: center;
    border-radius: 30px;
    width: 70%;
    text-align: center;
    background-color: rgb(200, 203, 253);
    text-decoration: none;
    box-shadow: 0px 0px 7px rgb(43, 43, 184);
}

#pagar:hover{
    box-shadow: 0px 1px 10px rgb(24, 120, 150);

}

#caixa2{
    display: flex;
    flex-direction: column;
}

#desc{
    width: 70%;
    margin: 30px 5px;
    font-size: 18px;
}

#mais{
    margin: 5px;
    font-size: 25px;
}

#teste{
    width: 50%;
    align-self: center;
}

#teste2{
    display: block;
    margin: auto;
    width: 100%;
    height: 350px;
}

#outros{
    display: flex;
    gap: 6px;
    width: 100%;
    height: 320px;  
    padding: 10px;
    position: relative;
    border-radius: 15px;
    background-color: rgb(197, 197, 255);
    overflow: hidden;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#outros > img{
    padding: 10px;
    width: 90%;
    min-width: 350px;
    height: auto;
    min-height: 230px;
    max-height: 310px;
    display: block;
    position: absolute;
    border-radius: 20px;
    transition:  0.5s ease-in-out;
}

footer{
    background-color: var(--roxoSuperclaro);
}

.off{
    opacity: 0;
}

@media screen and (max-width: 768px) {
    #caixa1{
        flex-direction: column;
        background-image: linear-gradient(180deg, rgba(0, 0, 255, 0.438), rgb(7, 7, 19));
        gap: 80px;
    }
    #img{
        width: 100%;
    }
    #pagamento{
        width: 100%;
        border: 1px solid rgb(2, 24, 58);
        box-shadow: 0px 1px 15px rgb(20, 166, 211);
    }
    #teste{
        display: flex;
        width: 100%;
        height: 300px;
    }
    #teste2{
        width: 480px;
        height: 300px;
    }
    #outros{
        width: 85%;
        min-width: 300px;
        max-width: 500px;
        max-height: 270px;
        border-radius: 40px;
        height: 100%;
    }

    #outros > img{
        position: absolute;
        border-radius: 35px;
        width: 97%;
        height: 95%;
        transition: 0.3s ease-in-out;
    }
}