*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    
}

body span{
    margin: 3px;
    position: fixed;
    z-index: 3;
    margin-top: 10px;
    transform: scale(1.5);
    transition: 0.5s ease-in-out;
}

#configs{
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 20px;
    width: 160px;
    height: 100vh;
    font-size: 32px;
    background-color: #f0f0f0;
    padding: 45px 0px 0px 6px;
    border-right: 1px solid black;
    transition: 0.5s ease-in-out;
    transform: translateX(-140px);
    z-index: 2;
}

#options{
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(15, 15, 15, 0.26);
}

#configs a{
    color: rgb(0, 0, 97);
    text-decoration: none;
    font-family: "Roboto", serif;
}

#principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: auto;
    background-color: #dbdbdb;
}

#projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    height: auto;
    padding: 10px;
}

.projeto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 450px;
    height: 350px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #fff;
}

#rolagem{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#rolagem button{
    width: 20px;
    height: 25px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #f3f3f3;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.projeto div{
    width: 90%;
    height: 280px;
    margin-top: 10px;
}

.nome{
    font-size: 18px;
    color: rgb(58, 58, 58);
    margin-left: 8px;
}

.titulo{
    font-size: 26px;
    font-weight: bold;
    margin: 6px;
}

.conteudo{
    width: 90%;
    height: 65%;
    margin: 6px;
    padding-top: 4px;
    font-size: 20px;
    overflow: hidden;
    overflow-y: auto;
    justify-self: center;
}

.conteudo::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

.conteudo::-webkit-scrollbar {
    width: 2px;
    background: #F4F4F4;
}

.conteudo::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

.projeto button{
    margin: 16px;
    font-size: 20px;
    padding: 4px;
    border: 1px solid black;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.projeto button:hover{
    transform: scale(1.05);
}

#loading{
    margin: 270px 0px 230px 0px;
    border-radius: 50%;
}

@media screen and (min-width : 768px) {
    body{
        display: flex;
    }

    #voltar{
        display: none;
    }

    #configs{
        width: 160px;
        min-height: 800px;
        position: relative;
    }

    #principal{
        min-height: 800px;
    }

    #projetos{
        gap: 15px;
        height: 90%;
    }

    .conteudo{
        height: 50%;
    }

    .projeto{
        width: 40%;
        min-width: 350px;
        max-width: 450px;
        max-height: 350px;
        transition: 0.5s ease-in-out;
    }

    .projeto div{
        height: 70%;
    }
    
    .projeto:hover{
        transform: scale(1.1);
    }

    #rolagem{
        margin-top: 8px;
    }
}