@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    
}

#caixa1 p{
    max-width: 480px;
    font-size: 19px;
}

#caixa2{
    font-size: 18px;
    margin-left: 5px; 
    
}

#caixa3{
    max-width: 490px;
    display: inline-block;
    font-size: 1.2em;
    letter-spacing: 1px; 
}

div#video{
    display: inline-block;
    width: 490px;
    height: 315px;
    position: relative;
    background-color: black;
}

.img{
    width: 90vw;
    max-width: 490px;
}

div#video > iframe{
    position: absolute;
    top: 3%;
    width: 95%;
    height: 95%;
} 

body{
    background-color: black;
}

header{
    background-color: darkred;
    height: 70px;
}

nav a{
    color: white;
    font-size: 25px;
    padding: 15px;
    margin-top: 10px;
}

main{
    margin: auto;
    max-width: 1040px;
    background-color: white;
}

img{
    max-width: 490px;
    display: inline-block;
}



section{
    display: inline-block;
}

article{
    max-width: 1200px;
}

p{
    max-width: 907px;
    padding-top: 18px;
    padding-left: 5px;
    text-align: justify;
}