@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#caixa1 p{
    max-width: 480px;
    font-size: 18px;
}

#caixa2{
    font-size: 18px;
    margin-left: 5px; 
    
}

#caixa3{
    max-width: 490px;
    display: inline-block;
    font-size: 1.2em;
    letter-spacing: 1px; 
    vertical-align: top;
}

#img2{
    margin: 10px 21px 0 5px;
}

#img3{
    margin: 10px 0 0 5px;
}

div#video{
    display: inline-block;
    width: 500px;
    height: 315px;
    position: relative;
    background-color: black;
    margin: 15px 0 0 5px;
}

.img{
    width: 90vw;
    max-width: 500px;
}

div#video > iframe{
    position: absolute;
    top: 3%;
    width: 95%;
    height: 95%;
    margin-left:12px ;
} 

#pad{
    vertical-align: top;
}

body{
    background-color: black;
}

header{
    background-image: linear-gradient(to right, rgb(221, 172, 11),rgb(214, 71, 15), darkred);
    height: 70px;
}

header h1{
    margin-left: 5px;
}

nav a{
    color: white;
    font-size: 25px;
    padding: 10px;
    margin-top: 10px;
}

main{
    margin: auto;
    max-width: 1040px;
    background-color: white;
}

img{
    max-width: 490px;
    display: inline-block;
}



section{
    display: inline-block;
}

article{
    max-width: 1200px;
}

article > div{
    max-width: 90vw;
}

p{
    max-width: 907px;
    padding-top: 18px;
    padding-left: 5px;
    text-align: justify;
}