@charset "UTF-8";
/*body{
    display: flex;
    overflow: hidden;
    width: 900px;
    border: 1px solid black;
    position: absolute;
}*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.carrosel-img {
    display: flex;
    width: 900px;
    height: 200px;
    overflow: hidden;
    margin-top: 10px;
    
}
  
.carrosel {
    display: flex;
    width: 33.33%;
    transform: translateX(0px);
    transition: 0.5s ease-in-out;
}
  
.carrosel-item {
    min-width: 33.33%;
    transition: opacity 0.5s ease;
}

