@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --azulEscuro:#212CDE;
    --roxo:#9223DE;
    --roxoClaro:#9E88D9;
    --roxoSuperclaro:#E4E4FF;
    --font1:"Bitter", serif;
    --font2: "Open Sans", sans-serif;
}

html,body{
    width: 100dvw;
    scrollbar-width: none;
    height: 100dvh;
    font-family: var(--font2);
    background-color: black;
}

header{
    background-image: linear-gradient(90deg, rgba(0, 0, 255, 0.308), rgb(138, 138, 250));
    height: 100px;
}

header > a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-left: 5px;
    transition: all 0.3s ease-in-out;
}

header > a:hover{
    background-color: var(--roxoSuperclaro);
    border-radius: 25px;
    color: black;
    box-shadow: 0px 1px 15px rgba(8, 12, 66, 0.89);
    
}

nav{
    background-image: linear-gradient(90deg, rgba(0, 0, 255, 0.308), rgb(138, 138, 250));
    position: relative;
    box-shadow: 0px 4px 5px rgba(12, 5, 112, 0.459);
    padding-bottom: 5px;
}

nav > a{
    color: white;
    text-decoration: none;
    font-size: 19px;
    margin: 0px 20px 0px 5px;
    transition: all 0.2s ease-in-out;
}

nav > a:hover{
    background-color: rgb(101, 30, 182);
    border-radius: 25px;
    box-shadow: 0px 1px 15px rgba(8, 12, 66, 0.89);
    
}

main{
    padding-bottom: 20px;
    margin: auto;
    max-width: 1200px;
    background-color: white;
}

.paragrafos{
    text-indent: 5px;
    text-align: justify;
    font-size: 22px;
    padding: 0px 20px;
}

#dupla1{
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

#dupla2{
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

#dupla3{
    display: flex;
    justify-content: space-around;
    gap: 100px;
    margin-bottom: 100px;
}

.produtos{
    width: 500px;
    margin: 15px 5px 15px 5px;
}

img{
    border-radius: 60px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.705);
    box-shadow: 0px 1px 5px rgb(21, 1, 114);
    transition: all 0.3s ease-in-out; 
}

img:hover{
    box-shadow: 0px 1px 25px rgb(25, 1, 134);
    transform: scale(1.02);
}

#contato{
    margin: auto;
    width: 400px;
    
}

#contato > a{
    color: var(--azulEscuro);
    text-decoration: none;
}

#why{
    padding: 10px;
    font-size: 30px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: var(--roxoClaro);
    box-shadow: 0px 0px 4px rgb(101, 30, 182);
    transition: all 0.3s ease-in;
}

#why:hover{
    box-shadow: 0px 0px 7px rgb(101, 30, 182);
    color: rgb(0, 19, 114);
    transform: scale(1.01);
}

footer{
    background-color: var(--roxoSuperclaro);
}

@media screen and (max-width: 768px) {
    .produtos{
        margin: auto;
        width: 90vw;
    }
    header{
        height: auto;
        padding-bottom: 20px;
    }
    #dupla1{
        flex-direction: column;
        gap: 100px;
        margin-bottom: 100px;
    }
    #dupla2{
        flex-direction: column;
        gap: 100px;
        margin-bottom: 100px;
    }
    #dupla3{
        flex-direction: column;
        gap: 100px;
        margin-bottom: 100px;
    }
    #contato{
        width: 90vw;
        height: auto;
    }
    main{
        padding-top: 20px;
    }
    
}