@charset "UTF-8";

@media screen and (min-width:768px) {
    header > h1{
        font-size: 2.3em;
    }

    #surgimento{
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    #surgimento > h2{
        font-size: 2.1em;
    }

    #surgimento > p{
        font-size: 1.5em;
        margin: 20px;
    }

    #surgimento > span{
        background-color: black;
        width: 97.7vw;
        height: 480px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #surgimento > span > img{
        width: 740px;
    } 

    #funcionamento > p{
        font-size: 1.5em;
    }

    #img > span > img{
        width: 740px;
        margin: 0px;
        padding: 0px;
    }

    #img{
        padding: 0px;
    }

    #img > span{
        background-color: black;
        width: 97.8vw;
        height: 480px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #img > p{
        font-size: 1.5em;
        margin: 0 20px 20px 20px;
    }
} 

@media screen and (min-width: 992px) {
    body{
        background-color: black;
    }

    #principal{
        background-color: white;
        margin: auto;
        width: 1100px;
        display: flex;
        justify-content: space-between;
    }

    #div1{
        width: 500px;
    }

    #div2{
        width: 500px;
    }

    #surgimento > span{
        background-color: black;
        width: 300px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #surgimento > span > img{
        width: 300px;
    } 

    #img >span{
        width: 300px;
        height: 200px;
        
    }

    #img > span > img{
        width: 300px;
    }
}